.dog-page {
  display: flex;
  flex-direction: column;
}

.star {
  display: block;
  position: absolute;
  top: -1px;
  right: -32px;
  font-size: 25px;
  color: yellow;
  background-color: #6495ed;
  border: none;
  z-index: 2;
}

.star:hover {
  background-color: #c32ac9;
  border: none;
}

.star:active {
  background-color: #3e8e41;
  transform: translateY(1px);
  border: none;
}

.star.active {
  background-color: #c32ac9;
  color: pink;
}
